////////// Fonts //////////
$logo-font: "Baumans", cursive;
$main-font: "Roboto Slab", serif;
$secondary-font: "Rubik", sans-serif;

////////// Main Theme //////////
$body-background: #fff;
$main-text-color: #000;
$secondary-text-color: #fff;
$first-color: #4900a3;
$secondary-color: #ec8eaa;
$third-color: #ffe5eb;
$fourth-color: #48a8e9;
$fifth-color: #247301;
$sixth-color: #e0e0e0;
$button-gradient-one: linear-gradient(90deg, #ec8eaa, #4900a3);
$button-gradient-extra: linear-gradient(
  90deg,
  #ffca49,
  #ff9561,
  #ef78cf,
  #9137ff
);
$button-gradient-two: linear-gradient(90deg, #6effd7, #78ff84);

////////// Dark Theme //////////
// $body-background-dark: #141e14;
$body-background-dark: #0d100d;
$main-text-color-dark: #fff;
$secondary-text-color-dark: #2b553b;
$first-color-dark: #200246;
$section-who-dark: radial-gradient(#9137ff, #4900a3);
$section-what-pink-dark: radial-gradient(#ffe5eb, #ffb8c8);
$section-what-black-dark: radial-gradient(#848484, #3a3a3a);
$section-work-green-dark: radial-gradient(#2b7347, #2b553b);

////////// Mixins //////////
@mixin flexDiv($flexDir) {
  display: flex;
  flex-direction: $flexDir;
  align-items: center;
}

@mixin cards($cardWidth) {
  position: relative;
  box-sizing: border-box;
  height: 800px;
  border-radius: 40px;
  padding: 0 8%;
  margin-bottom: 40px;
  text-align: center;
  @if $cardWidth {
    width: $cardWidth;
  }
}

@mixin devices($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 1100px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 550px) {
      @content;
    }
  }
}
