* {
  scroll-behavior: smooth;
  cursor: none;
}

body {
  margin: 0;
}
body #inner--body {
  position: relative;
  max-width: 1400px;
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  padding: 0 10%;
}
body #cursor {
  pointer-events: none;
  z-index: 1;
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transition: height 0.2s ease, width 0.2s ease;
}
body a {
  text-decoration: none;
}
body h1 {
  font-size: 4.5rem;
  font-family: "Roboto Slab", serif;
  margin-bottom: 40px;
  line-height: 1;
  font-weight: 500;
}
body h2 {
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}
body h3 {
  color: #000;
  font-size: 2.5rem;
  font-family: "Baumans", cursive;
}
body h4 {
  color: #000;
  font-weight: 500;
  line-height: 1.5;
  font-size: 0.7rem;
  font-family: "Rubik", sans-serif;
}
body h5 {
  color: #e0e0e0;
  font-size: 0.8rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
body h6 {
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
body section {
  transition: transform 1s, opacity 1s;
}
body .section--hidden {
  opacity: 0;
}
body nav {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
body nav #freck:hover span {
  color: #ec8eaa;
}
body nav #menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
body nav #menu .magnetic--wrap {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
}
body nav #menu .magnetic--wrap .magnetic--area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -70px;
  top: -70px;
  left: -70px;
  right: -70px;
  border-radius: 50%;
}
body nav #menu .magnetic--wrap .magnetic--area .my--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
body .slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  border: 3px solid;
  height: 30px;
  width: 60px;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}
body .slider img {
  z-index: -1;
  padding: 6px;
}
body .slider #slider--circle {
  position: absolute;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
body #text--avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body #text--avatar #intro--text {
  padding-top: 30px;
  width: 50%;
}
body #text--avatar #intro--text h1 {
  font-weight: 800;
}
body #text--avatar #avatar--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-left: 50px;
  height: 600px;
  width: 50%;
  position: relative;
  overflow: hidden;
}
body #text--avatar #avatar--container #avatar {
  max-height: 600px;
}
body #text--avatar #avatar--container #hand {
  position: absolute;
  max-height: 600px;
}
body #text--avatar #avatar--container #shadow {
  position: absolute;
  max-height: 600px;
}
body #company--logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -100px 0 80px;
}
body #company--logos p {
  z-index: 1;
  margin-bottom: 40px;
}
body #company--logos #logos {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
body #company--logos #logos .grayscale {
  opacity: 50%;
  transition: all 0.1s;
  filter: grayscale(100%);
}
body #company--logos #logos .grayscale img {
  width: 100px;
  max-height: 30px;
}
body #company--logos #logos .grayscale:hover {
  filter: none;
  opacity: 100%;
}
body .card {
  position: relative;
  box-sizing: border-box;
  height: 800px;
  border-radius: 40px;
  padding: 0 8%;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}
body #section--who .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #section--who h1 {
  margin-bottom: 10px;
}
body #section--who h6 {
  margin: 0 0 20px;
}
body #section--who #desk {
  position: absolute;
  width: 70%;
  margin-top: auto;
  bottom: 0;
  z-index: 0;
}
body #section--what {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
body #section--what h1 {
  font-size: 6rem;
  margin: 0;
}
body #section--what #section--pink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}
body #section--what #section--pink #arm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: #ec8eaa;
  border-radius: 50%;
  margin-top: 15%;
  justify-content: center;
  text-align: center;
}
body #section--what #section--black {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 5%;
}
body #section--what #section--black h2 {
  margin: 15% 0;
}
body #section--what #section--black .skill--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
}
body #section--what #section--black .skill--container .skill {
  transition: all 0.1s ease;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 20px;
}
body #section--what #section--black .skill--container .skill p {
  margin: 0;
}
body #section--what #section--black .skill--container .skill:hover {
  transform: scale(1.1);
}
body #section--work .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 80px 0;
  gap: 80px;
}
body #section--work .card a h1 {
  margin: 0;
}
body footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.light--theme {
  background-color: #fff;
  color: #000;
}
.light--theme #inner--body {
  background-color: #fff;
}
.light--theme #cursor {
  background-color: #000;
}
.light--theme h1 {
  color: #000;
}
.light--theme h2 {
  color: #000;
}
.light--theme h3 {
  color: #000;
}
.light--theme h4 {
  color: #000;
}
.light--theme h5 {
  color: #e0e0e0;
}
.light--theme nav {
  background-color: #fff;
}
.light--theme nav .slider {
  border-color: #4900a3;
  background-color: #4900a3;
}
.light--theme nav .slider img {
  fill: #4900a3;
}
.light--theme nav .slider #slider--circle {
  background-color: #48a8e9;
}
.light--theme #landing--page {
  background-color: #fff;
}
.light--theme #landing--page #intro--text {
  background-color: #fff;
}
.light--theme #landing--page #avatar--container {
  background-color: #fff;
}
.light--theme #section--who .card {
  background: radial-gradient(#9137ff, #4900a3);
  color: #48a8e9;
}
.light--theme #section--who h1 {
  color: #48a8e9;
}
.light--theme #section--what {
  background-color: #fff;
}
.light--theme #section--what #section--black {
  background-color: #000;
  color: #fff;
}
.light--theme #section--what #section--black h2 {
  color: #fff;
}
.light--theme #section--what #section--black .skill {
  background-color: #fff;
  color: #000;
}
.light--theme #section--what #section--pink {
  background-color: #ffe5eb;
  color: #247301;
}
.light--theme #section--what #section--pink h2 {
  color: #247301;
}
.light--theme #section--work .card {
  background-color: #e0e0e0;
}
.light--theme footer {
  color: #48a8e9;
}

.dark--theme {
  background-color: #0d100d;
  color: #fff;
}
.dark--theme #inner--body {
  background-color: #0d100d;
}
.dark--theme #cursor {
  background-color: #fff;
}
.dark--theme h1 {
  color: #fff;
}
.dark--theme h2 {
  color: #fff;
}
.dark--theme h3 {
  color: #fff;
}
.dark--theme h4 {
  color: #fff;
}
.dark--theme h5 {
  color: #e0e0e0;
}
.dark--theme nav {
  background-color: #0d100d;
}
.dark--theme nav .slider {
  border-color: #2b553b;
}
.dark--theme nav .slider svg {
  fill: #2b553b;
}
.dark--theme nav .slider #slider--circle {
  background-color: #2b553b;
}
.dark--theme #landing--page {
  background-color: #0d100d;
}
.dark--theme #landing--page #intro--text {
  background-color: #0d100d;
}
.dark--theme #landing--page #avatar--container {
  background-color: #0d100d;
}
.dark--theme #company--logos #logos .grayscale img {
  filter: invert(100%) grayscale(100%);
}
.dark--theme #section--who .card {
  background: radial-gradient(#9137ff, #4900a3);
  color: #ec8eaa;
}
.dark--theme #section--who .card h1 {
  color: #ec8eaa;
}
.dark--theme #section--what {
  background-color: #0d100d;
}
.dark--theme #section--what #section--black {
  background: radial-gradient(#848484, #3a3a3a);
  color: #2b553b;
}
.dark--theme #section--what #section--black h2 {
  color: #fff;
}
.dark--theme #section--what #section--black .skill {
  background-color: #0d100d;
  color: #fff;
}
.dark--theme #section--what #section--pink {
  background: radial-gradient(#ffe5eb, #ffb8c8);
  color: #247301;
}
.dark--theme #section--what #section--pink h2 {
  color: #247301;
}
.dark--theme #section--work .card {
  background: radial-gradient(#2b7347, #2b553b);
}
.dark--theme footer {
  color: #48a8e9;
}

@media only screen and (max-width: 1100px) {
  .responsive * {
    cursor: default;
  }
  .responsive #inner--body {
    margin: 0;
    padding: 0 20px;
  }
  .responsive #cursor {
    display: none;
  }
  .responsive nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .responsive nav .slider {
    margin-top: 40px;
    position: absolute;
    right: 20px;
  }
  .responsive #text--avatar {
    flex-direction: column-reverse;
    align-items: center;
  }
  .responsive #text--avatar #intro--text {
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 0 0 80px;
  }
  .responsive #text--avatar #intro--text h1 {
    margin-top: -80px;
  }
  .responsive #text--avatar #avatar--container {
    width: 100%;
    padding: 0;
    margin-top: 50px;
  }
  .responsive #company--logos {
    margin: 0 0 80px;
  }
  .responsive #section--what {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .responsive #section--what #section--pink,
  .responsive #section--what #section--black {
    box-sizing: border-box;
    width: 100%;
  }
  .responsive #section--what #section--pink .skill p,
  .responsive #section--what #section--black .skill p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .responsive h1 {
    font-size: 3rem;
  }
  .responsive h6 {
    font-size: 1.2rem;
  }
  .responsive nav #menu {
    justify-content: space-around;
  }
  .responsive #landing--page #text--avatar #avatar--container {
    padding: 0;
    margin-top: 20px;
  }
  .responsive #landing--page #text--avatar #avatar--container #avatar,
  .responsive #landing--page #text--avatar #avatar--container #hand,
  .responsive #landing--page #text--avatar #avatar--container #shadow {
    max-height: 500px;
  }
  .responsive #section--who .card {
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 10% 15%;
  }
  .responsive #section--who #desk {
    display: none;
  }
  .responsive #section--what h2 {
    margin: 40px 10px;
    font-size: 2.5rem;
  }
  .responsive #section--what #section--pink {
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 15%;
  }
  .responsive #section--what #section--pink h2 {
    font-weight: 600;
  }
  .responsive #section--what #section--pink #arm {
    width: 200px;
    height: 200px;
  }
  .responsive #section--what #section--black {
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 15%;
  }
  .responsive #section--what #section--black .skill--container {
    justify-content: center;
  }
  .responsive #section--what #section--black .skill--container .skill {
    width: 70%;
  }
  .responsive #section--work h1 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */