@use "variables";

* {
  scroll-behavior: smooth;
  cursor: none;
}

body {
  margin: 0;
  #innerBody {
    position: relative;
    max-width: 1400px;
    font-family: variables.$secondary-font;
    margin: 0 auto;
    padding: 0 10%;
  }
  #cursor {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    transition: height 0.2s ease, width 0.2s ease;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 4.5rem;
    font-family: variables.$main-font;
    margin-bottom: 40px;
    line-height: 1;
  }

  h2 {
    font-size: 3rem;
    font-family: variables.$main-font;
  }

  h3 {
    color: variables.$main-text-color;
    font-size: 2.5rem;
    font-family: variables.$logo-font;
  }

  h4 {
    color: variables.$main-text-color;
    font-weight: 500;
    line-height: 1.5;
    font-size: 0.7rem;
    font-family: variables.$secondary-font;
  }

  h5 {
    color: variables.$sixth-color;
    font-size: 0.8rem;
    font-family: variables.$secondary-font;
    font-weight: 400;
  }

  section {
    transition: transform 1s, opacity 1s;
  }

  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }

  .slider {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 30px;
    border: 3px solid;
    height: 30px;
    width: 60px;
    transition: all 0.2s ease-in-out;
    z-index: 0;
    img {
      z-index: -1;
      padding: 6px;
    }
    #sliderCircle {
      position: absolute;
      left: 0;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

  nav {
    z-index: 2;
    @include variables.flexDiv(row);
    justify-content: space-between;
    height: auto;
    width: 100%;
    #freck:hover span {
      color: variables.$fifth-color;
    }
    #menu {
      @include variables.flexDiv(row);
      justify-content: space-between;
      width: 300px;
      .magnetic-wrap {
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        .magnetic-area {
          @include variables.flexDiv(row);
          justify-content: center;
          position: absolute;
          bottom: -70px;
          top: -70px;
          left: -70px;
          right: -70px;
          border-radius: 50%;
          // border: 1px dashed black;
          .my-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            // border: 1px solid black;
          }
        }
      }
    }
  }

  #section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    #introText {
      padding-top: 30px;
      width: 50%;
    }
    #avatarContainer {
      @include variables.flexDiv(row);
      justify-content: center;
      padding-top: 50px;
      padding-left: 50px;
      height: 600px;
      width: 50%;
      position: relative;
      overflow: hidden;
      #avatar {
        max-height: 600px;
      }
      #hand {
        position: absolute;
        max-height: 600px;
      }
      #shadow {
        position: absolute;
        max-height: 600px;
      }
    }
  }

  #section2 {
    position: relative;
    @include variables.flexDiv(column);
    text-align: center;
    border-radius: 40px;
    height: 800px;
    padding: 0 10%;
    margin-bottom: 40px;
    overflow: hidden;
    #placeholder {
      position: absolute;
      width: 75%;
      margin-top: auto;
      bottom: 0;
      z-index: 0;
    }
  }

  #section3 {
    @include variables.flexDiv(row);
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
    h1 {
      font-size: 6rem;
      margin: 0;
    }
    #sectionPink {
      @include variables.flexDiv(column);
      text-align: center;
      border-radius: 40px;
      height: 800px;
      width: 50%;
      #arm {
        @include variables.flexDiv(column);
        height: 200px;
        width: 200px;
        background-color: variables.$secondary-color;
        border-radius: 50%;
        margin-top: 10%;
        justify-content: center;
        text-align: center;
      }
    }
    #sectionBlack {
      @include variables.flexDiv(column);
      text-align: center;
      border-radius: 40px;
      height: 800px;
      width: 50%;
    }
  }

  #section4 {
    display: flex;
    background-color: variables.$sixth-color;
    border-radius: 40px;
    height: 800px;
    padding: 0 10%;
    margin-bottom: 40px;
  }

  footer {
    @include variables.flexDiv(row);
    justify-content: center;
    color: variables.$fourth-color;
  }
}

.lightTheme {
  background-color: variables.$body-background;
  color: variables.$main-text-color;
  #innerBody {
    background-color: variables.$body-background;
  }
  #cursor {
    background-color: variables.$main-text-color;
  }
  h1 {
    color: variables.$main-text-color;
  }
  h2 {
    color: variables.$main-text-color;
  }
  h3 {
    color: variables.$main-text-color;
  }
  h4 {
    color: variables.$main-text-color;
  }
  h5 {
    color: variables.$sixth-color;
  }
  nav {
    background-color: variables.$body-background;
    .slider {
      border-color: variables.$first-color;
      background-color: variables.$first-color;
      img {
        fill: variables.$first-color;
      }
      #sliderCircle {
        background-color: variables.$fourth-color;
      }
    }
  }
  #section1 {
    background-color: variables.$body-background;
    #introText {
      background-color: variables.$body-background;
    }
    #avatarContainer {
      background-color: variables.$body-background;
    }
  }
  #section2 {
    background-color: variables.$first-color;
    color: variables.$fourth-color;
    h1 {
      color: variables.$fourth-color;
    }
  }
  #section3 {
    background-color: variables.$body-background;
    #sectionBlack {
      background-color: #000;
      color: variables.$secondary-text-color;
      h2 {
        color: variables.$secondary-text-color;
      }
    }
    #sectionPink {
      background-color: variables.$third-color;
      color: variables.$fifth-color;
      h2 {
        color: variables.$fifth-color;
      }
    }
  }
}

.darkTheme {
  background-color: variables.$body-background-dark;
  color: variables.$main-text-color-dark;
  #innerBody {
    background-color: variables.$body-background-dark;
  }
  #cursor {
    background-color: variables.$main-text-color-dark;
  }
  h1 {
    color: variables.$main-text-color-dark;
  }
  h2 {
    color: variables.$main-text-color-dark;
  }
  h3 {
    color: variables.$main-text-color-dark;
  }
  h4 {
    color: variables.$main-text-color-dark;
  }
  h5 {
    color: variables.$sixth-color;
  }
  nav {
    background-color: variables.$body-background-dark;
    .slider {
      border-color: variables.$secondary-text-color-dark;
      svg {
        fill: variables.$secondary-text-color-dark;
      }
      #sliderCircle {
        background-color: variables.$secondary-text-color-dark;
      }
    }
  }
  #section1 {
    background-color: variables.$body-background-dark;
    #introText {
      background-color: variables.$body-background-dark;
    }
    #avatarContainer {
      background-color: variables.$body-background-dark;
    }
  }
  #section2 {
    background-color: variables.$secondary-text-color-dark;
    color: variables.$secondary-color;
    h1 {
      color: variables.$secondary-color;
    }
  }
  #section3 {
    background-color: variables.$body-background-dark;
    #sectionBlack {
      background-color: #fff;
      color: variables.$secondary-text-color-dark;
      h2 {
        color: variables.$body-background-dark;
      }
    }
    #sectionPink {
      background-color: variables.$third-color;
      color: variables.$fifth-color;
      h2 {
        color: variables.$fifth-color;
      }
    }
  }
}

.responsive {
  @include variables.devices(tablet) {
    * {
      cursor: default;
    }
    #innerBody {
      margin: 0;
      padding: 0 20px;
    }
    #cursor {
      display: none;
    }
    nav {
      @include variables.flexDiv(column);
      .slider {
        margin-top: 40px;
        position: absolute;
        right: 20px;
      }
    }
    #section1 {
      flex-direction: column-reverse;
      align-items: center;
      #introText {
        z-index: 1;
        width: 100%;
        text-align: center;
        padding: 0 0 80px;
        h1 {
          margin-top: -80px;
        }
      }
      #avatarContainer {
        width: 100%;
        padding: 0;
        margin-top: 50px;
      }
    }
    #section3 {
      @include variables.flexDiv(column);
      #sectionPink,
      #sectionBlack {
        width: 100%;
      }
    }
  }

  @include variables.devices(mobile) {
    nav {
      #menu {
        justify-content: space-around;
      }
    }
    #section1 {
      #avatarContainer {
        padding: 0;
        margin-top: 20px;
        #avatar,
        #hand,
        #shadow {
          max-height: 500px;
        }
      }
    }
    #section2 {
      #placeholder {
        display: none;
      }
    }
    #section3 {
      h2 {
        margin: 40px 10px;
      }
    }
    h1 {
      font-size: 3.5rem;
    }
  }
}
