@use "variables";

////////////////////// General Structure //////////////////////

* {
  scroll-behavior: smooth;
  cursor: none;
}

body {
  margin: 0;
  #inner--body {
    position: relative;
    max-width: 1400px;
    font-family: variables.$secondary-font;
    margin: 0 auto;
    padding: 0 10%;
  }
  #cursor {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    transition: height 0.2s ease, width 0.2s ease;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 4.5rem;
    font-family: variables.$main-font;
    margin-bottom: 40px;
    line-height: 1;
  }

  h2 {
    font-size: 3rem;
    font-family: variables.$main-font;
  }

  h3 {
    color: variables.$main-text-color;
    font-size: 2.5rem;
    font-family: variables.$logo-font;
  }

  h4 {
    color: variables.$main-text-color;
    font-weight: 500;
    line-height: 1.5;
    font-size: 0.7rem;
    font-family: variables.$secondary-font;
  }

  h5 {
    color: variables.$sixth-color;
    font-size: 0.8rem;
    font-family: variables.$secondary-font;
    font-weight: 400;
  }

  section {
    transition: transform 1s, opacity 1s;
  }

  .section--hidden {
    opacity: 0;
  }

  nav {
    z-index: 2;
    @include variables.flexDiv(row);
    justify-content: space-between;
    height: auto;
    width: 100%;
    #freck:hover span {
      color: variables.$fifth-color;
    }
    #menu {
      @include variables.flexDiv(row);
      justify-content: space-between;
      width: 300px;
      .magnetic--wrap {
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        .magnetic--area {
          @include variables.flexDiv(row);
          justify-content: center;
          position: absolute;
          bottom: -70px;
          top: -70px;
          left: -70px;
          right: -70px;
          border-radius: 50%;
          // border: 1px dashed black;
          .my--button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            // border: 1px solid black;
          }
        }
      }
    }
  }
  .slider {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 30px;
    border: 3px solid;
    height: 30px;
    width: 60px;
    transition: all 0.2s ease-in-out;
    z-index: 0;
    img {
      z-index: -1;
      padding: 6px;
    }
    #slider--circle {
      position: absolute;
      left: 0;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

  #text--avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    #intro--text {
      padding-top: 30px;
      width: 50%;
    }
    #avatar--container {
      @include variables.flexDiv(row);
      justify-content: center;
      padding-top: 50px;
      padding-left: 50px;
      height: 600px;
      width: 50%;
      position: relative;
      overflow: hidden;
      #avatar {
        max-height: 600px;
      }
      #hand {
        position: absolute;
        max-height: 600px;
      }
      #shadow {
        position: absolute;
        max-height: 600px;
      }
    }
  }
  #company--logos {
    @include variables.flexDiv(column);
    margin: -100px 0 80px;
    p {
      z-index: 1;
      margin-bottom: 40px;
    }
    #logos {
      z-index: 1;
      @include variables.flexDiv(row);
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
      .grayscale {
        opacity: 50%;
        img {
          width: 100px;
          max-height: 30px;
        }
        transition: all 0.1s;
        filter: grayscale(100%);
        &:hover {
          filter: none;
          opacity: 100%;
        }
      }
    }
  }

  .card {
    @include variables.cards(100%);
  }

  #section--who {
    .card {
      @include variables.flexDiv(column);
    }
    overflow: hidden;
    #desk {
      position: absolute;
      width: 75%;
      margin-top: auto;
      bottom: 0;
      z-index: 0;
    }
  }

  #section--what {
    @include variables.flexDiv(row);
    justify-content: space-between;
    gap: 40px;
    h1 {
      font-size: 6rem;
      margin: 0;
    }
    #section--pink {
      @include variables.flexDiv(column);
      width: 50%;
      #arm {
        @include variables.flexDiv(column);
        height: 200px;
        width: 200px;
        background-color: variables.$secondary-color;
        border-radius: 50%;
        margin-top: 10%;
        justify-content: center;
        text-align: center;
      }
    }
    #section--black {
      @include variables.flexDiv(column);
      width: 50%;
    }
  }

  #section--work {
    .card {
      @include variables.flexDiv(column);
    }
  }

  footer {
    @include variables.flexDiv(row);
    justify-content: center;
  }
}

////////////////////// Themes //////////////////////

.light--theme {
  background-color: variables.$body-background;
  color: variables.$main-text-color;
  #inner--body {
    background-color: variables.$body-background;
  }
  #cursor {
    background-color: variables.$main-text-color;
  }
  h1 {
    color: variables.$main-text-color;
  }
  h2 {
    color: variables.$main-text-color;
  }
  h3 {
    color: variables.$main-text-color;
  }
  h4 {
    color: variables.$main-text-color;
  }
  h5 {
    color: variables.$sixth-color;
  }
  nav {
    background-color: variables.$body-background;
    .slider {
      border-color: variables.$first-color;
      background-color: variables.$first-color;
      img {
        fill: variables.$first-color;
      }
      #slider--circle {
        background-color: variables.$fourth-color;
      }
    }
  }
  #landing--page {
    background-color: variables.$body-background;
    #intro--text {
      background-color: variables.$body-background;
    }
    #avatar--container {
      background-color: variables.$body-background;
    }
  }
  #section--who {
    .card {
      background-color: variables.$first-color;
      color: variables.$fourth-color;
    }
    h1 {
      color: variables.$fourth-color;
    }
  }
  #section--what {
    background-color: variables.$body-background;
    #section--black {
      background-color: #000;
      color: variables.$secondary-text-color;
      h2 {
        color: variables.$secondary-text-color;
      }
    }
    #section--pink {
      background-color: variables.$third-color;
      color: variables.$fifth-color;
      h2 {
        color: variables.$fifth-color;
      }
    }
  }
  #section--work {
    .card {
      background-color: variables.$sixth-color;
    }
  }
  footer {
    color: variables.$fourth-color;
  }
}

.dark--theme {
  background-color: variables.$body-background-dark;
  color: variables.$main-text-color-dark;
  #inner--body {
    background-color: variables.$body-background-dark;
  }
  #cursor {
    background-color: variables.$main-text-color-dark;
  }
  h1 {
    color: variables.$main-text-color-dark;
  }
  h2 {
    color: variables.$main-text-color-dark;
  }
  h3 {
    color: variables.$main-text-color-dark;
  }
  h4 {
    color: variables.$main-text-color-dark;
  }
  h5 {
    color: variables.$sixth-color;
  }
  nav {
    background-color: variables.$body-background-dark;
    .slider {
      border-color: variables.$secondary-text-color-dark;
      svg {
        fill: variables.$secondary-text-color-dark;
      }
      #slider--circle {
        background-color: variables.$secondary-text-color-dark;
      }
    }
  }
  #landing--page {
    background-color: variables.$body-background-dark;
    #intro--text {
      background-color: variables.$body-background-dark;
    }
    #avatar--container {
      background-color: variables.$body-background-dark;
    }
  }
  #company--logos {
    #logos {
      .grayscale {
        img {
          filter: invert(100%) grayscale(100%);
        }
      }
    }
  }
  #section--who {
    .card {
      background-color: variables.$secondary-text-color-dark;
      color: variables.$secondary-color;
      h1 {
        color: variables.$secondary-color;
      }
    }
  }
  #section--what {
    background-color: variables.$body-background-dark;
    #section--black {
      background-color: #fff;
      color: variables.$secondary-text-color-dark;
      h2 {
        color: variables.$body-background-dark;
      }
    }
    #section--pink {
      background-color: variables.$third-color;
      color: variables.$fifth-color;
      h2 {
        color: variables.$fifth-color;
      }
    }
  }
  #section--work {
    .card {
      background-color: variables.$sixth-color;
    }
  }
  footer {
    color: variables.$fourth-color;
  }
}

////////////////////// Responsive //////////////////////

.responsive {
  @include variables.devices(tablet) {
    * {
      cursor: default;
    }
    #inner--body {
      margin: 0;
      padding: 0 20px;
    }
    #cursor {
      display: none;
    }
    nav {
      @include variables.flexDiv(column);
      .slider {
        margin-top: 40px;
        position: absolute;
        right: 20px;
      }
    }
    #text--avatar {
      flex-direction: column-reverse;
      align-items: center;
      #intro--text {
        z-index: 1;
        width: 100%;
        text-align: center;
        padding: 0 0 80px;
        h1 {
          margin-top: -80px;
        }
      }
      #avatar--container {
        width: 100%;
        padding: 0;
        margin-top: 50px;
      }
    }
    #company--logos {
      margin: 0 0 80px;
    }
    #section--what {
      @include variables.flexDiv(column);
      gap: 0;
      #section--pink,
      #section--black {
        box-sizing: border-box;
        width: 100%;
      }
    }
  }

  @include variables.devices(mobile) {
    nav {
      #menu {
        justify-content: space-around;
      }
    }
    #landing--page {
      #text--avatar {
        #avatar--container {
          padding: 0;
          margin-top: 20px;
          #avatar,
          #hand,
          #shadow {
            max-height: 500px;
          }
        }
      }
    }
    #section--who {
      #desk {
        display: none;
      }
    }
    #section--what {
      h2 {
        margin: 40px 10px;
      }
    }
    h1 {
      font-size: 3.5rem;
    }
  }
}
